* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  background-image: url(img/mv.jpg);
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.header-title {
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.item1 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.item2 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.item3 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.item4 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}
